﻿@model MVC1.Models.Car
<tr>
    <td>
        @Html.DisplayFor(item => item.Id)
    </td>
    <td>
        @Html.DisplayFor(car => car.Make)
    </td>
    <td>
        @Html.DisplayFor(c => c.Model)
    </td>
    <td>
        @Html.DisplayFor(item => item.Year)
    </td>
    <td>
        @Html.DisplayFor(item => item.Email)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    </td>
</tr>

