﻿body {
    font-family: Verdana, sans-serif;
    color: #535353;
}

h1 {
    color: #FFFFFF;
    padding-left: 10px;
    background-color: #4B6385;
}

table {
    border-spacing: 0px;
}

th {
    color: #000000;
    font-size: 12pt;
    text-align: left;
}

th, td {
    padding: 5px;
}

table.striped tr:nth-child(even) {
    background-color: lightskyblue;
}

.Label {
    font-weight: bold;
}
.Error {
    font-weight: bold;
    color: red;
}